:root {
  --background: #121212;
  --text: #fff;
  --primary-colour: #6699c3;
  --secondary-colour: #054b69;
  --tooltip-bg: #000000b3;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--background);
  color: var(--text);
  overflow: hidden;
  text-align: center;
}

#barChart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.tooltip {
  position: absolute;
  background-color: var(--tooltip-bg);
  color: var(--text);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
  z-index: 10;
  visibility: hidden;
}

.bar {
  fill: var(--primary-colour);
  transition: fill 0.3s ease-in-out;
}

.bar:hover {
  fill: var(--secondary-colour);
}

text {
  font-size: 13px;
}
